h2 updates:
each update in _(public.updates._contents).reverse().value()
    - var date = update.replace(/\.[^/.]+$/, "")
    unless date === 'index'
        .bling-border
            .date: strong(id=date)= date
            article!= partial(date)