doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(type='text/css' rel='stylesheet' href='/style.css')
    body
        .wrapper
            .container
                if current.path[0] !== 'index'
                    form(action='/'): button(type='submit') <- HOME
                != yield
            .push
        .footer
            .container
                em last deployment: #{new Date()} (#[a(href='https://gitlab.com/jcpst/jcpst') source])
