.header-border
    h1 jcpst.com
    p home of Joseph Post on the world wide web
.nav-links
    each link in ['updates', 'about', 'links', 'music', 'contact']
        a(href='/' + link)= link
br
:markdown
    # Hello everyone
    
    This is a test.