/* Sticky Footer by Ryan Fait
 * http://ryanfait.com/
 */
$footer-height = 3em
*
  margin 0
html, body
  height 100%
.wrapper
  min-height 100%
  margin 0 auto -($footer-height)
.footer, .push
  height: $footer-height

/*
 * Main styles
 */
body
  background-color palegoldenrod

h1, h2, h3, h4, h5, h6
  margin 0.25em 0
ul
  li
    list-style none
  li:before
    content '\2605 '
p
  margin-bottom 1em
.four-zero-four
  text-align center
  font-size 5em
.bling-border
  background-color lightgoldenrodyellow
  border 25px ridge darkgoldenrod
  margin-bottom 0.5em
  padding 0 0.5em
.container
  margin 0 auto
  max-width 750px
.date
  text-decoration underline
.footer
  .container
    border-top 1px solid black
.header-border
  background-color whitesmoke
  border 0.5em double black
  padding 0.25em
  margin-bottom 1em
.nav-links
  a
    background-color goldenrod
    border 0.5em ridge darkgoldenrod
    color black
    display inline-block
    margin 0.25em
    padding 0.1em
    text-decoration none
    font-weight bold
    text-transform uppercase